 
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">

 <title>Home</title>
  </head>
  <body>
 <!-- title-->
  <div class="container">
    <div class="jumbotron text-center">
    <h1>YourBlogz</h1>      
   
    </div>
   </div>
   <!--vertcal Side Nav bar-->
   <div class="container">
   	
     <div class="col-4">
   	<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1 col-4">Categories</span>
    </nav>
   </div>
   
   <div class="col-4">
   <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sports</a>
   </nav>
   </div>

   
   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
   </div>
   



  </div>



   
  </div>

   
		
  	
  </body>

  </html>
