 
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
     <!--import scripts-->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
 <title>Home</title>
  </head>
  <body>
 <!-- title-->
 
  <div class="container-fluid text-center">
  	 
    <div class="jumbotron bg-success" >
    
    <h1 class="text-white ">YourBlogz</h1>      
   
    </div>
   </div>
   <!--vertcal Side Nav bar-->
   <div class="container-fluid">
   	<div id="accordion " class="col-2">

  <div class="card ">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 ">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Sports

        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body ">
      	<ul>
        <a href="#" class="text-left d-inline-block text-truncate" >Dapibus </a>
        <div class="dropdown-divider "></div>
        <a href="#" class="text-left" >Morbi leo risus</a>
        <div class="dropdown-divider "></div>
        <a href="#" class="text-left">Porta ac consectetur ac</a>
        <div class="dropdown-divider"></div>
        <a href="#" >Vestibulum at eros</a>
       </ul>
      </div>
    </div>


     <div class="card ">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0 ">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Politics
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        second links
      </div>
    </div>


    <div class="card ">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
          Health
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        third links
      </div>
    </div>




  </div>


  
  	
  </body>

  </html>
