{% extends "adminPanel/Dashboard.html" %}

{% block main_block %}

<a href="/blogersite/adminPanel/new_tag/">
    <button class="btn btn-primary pull-right">Add New Tag Name</button>
</a>
<br>
<div class="table-responsive">
    <table class=" table table-striped table-hover ">
        <th>Tag Name</th>
        <th colspan="5">Options</th>
        {% for tag in allTags %}
        <tr>
            <td>{{tag.tag_name}}</td>
            <td><a href="/blogersite/adminPanel/{{tag.id}}/editT">
                <button class="btn btn-warning">Edit</button>
            </a></td>
            <td><a href="/blogersite/adminPanel/{{tag.id}}/deleteT">
                <button class="btn btn-danger">Delete</button>
            </a></td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

