{% extends "adminPanel/Dashboard.html" %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block main_block %}

	<a href = "/blogersite/adminPanel/new_forbid/">Add New Forbidden Word</a>
	<br>
	<table border="2">
		<th>Forbidden Word</th>
		<th colspan="2">Options</th>
		{%  for forbidden in allForbidden  %}
		<tr>
			<td>{{forbidden.forbiddenWord}}</td>
			<td><a href= "/blogersite/adminPanel/{{forbidden.id}}/editF">Edit</a></td>
			<td><a href= "/blogersite/adminPanel/{{forbidden.id}}/deleteF">Delete</a></td>
		</tr>
		{%  endfor  %}
	</table>
{% endblock %}

</body>
</html>
