
{% extends "adminPanel/Dashboard.html" %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block main_block %}
	<a href = "/blogersite/adminPanel/new_post/">Add New Post</a>
	<br>
	<table border="2">
		<th>Post title</th>
		<th colspan="3">Options</th>
		{%  for posts in allPosts  %}
		<tr>
			<td>{{posts.post_title}}</td>
			<td><a href = "/blogersite/adminPanel/{{posts.id}}/showP">Show more</a></td>
			<td><a href= "/blogersite/adminPanel/{{posts.id}}/editP">Edit</a></td>
			<td><a href= "/blogersite/adminPanel/{{posts.id}}/deleteP">Delete</a></td>
		</tr>
		{%  endfor  %}
	</table>
{% endblock %}

</body>
</html>
