{% extends "adminPanel/base.html" %}
<h1>welcome to home</h1>
<div class="w3-sidebar w3-bar-block">
{% block main_block %}
<!--{% load staticfiles %}-->
<div class="row">

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block col-4" style="width:25%">
  <h3 class="w3-bar-item">Categories</h3>
  <div>
            {% for cat in allCategories%}
			<a href = "#">{{cat.cat_name}}</a>
			<a href = "#{{cat.id}}"><button>Subscribe</button></a><br>
        {% endfor %}
        </div>
</div>


	<br>

	<br>

<div class="col-8">
    {%  for posts in allPosts  %}

        <div>
         <h6> {{ posts.post_cat }}</h6>
        <h3><a href = "#">{{posts.post_title}}</a></h3>
        <h5>{{ posts.post_tags }}</h5>
        <img src="{{ posts.posts.post_image }}"/>

             <p> {{ posts.post_content }}</p>

         <p>{{ posts.post_date }}</p>

        </div>



		{%  endfor  %}

</div>


    </div>
{% endblock %}




</div>


</body>
</html>