{% extends "adminPanel/base.html" %}
{% load static %}
<html>
<body>


{% block main_block %}
{% load staticfiles %}


<div class="row">
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block col-3 raw bmd-layout-drawer bg-dark fullheightcol-3">
<div>
<form method="GET" action="/blogersite/search/">

                    <input type="text" class="form-control ds-input" id="search" name="query" style="position: relative; vertical-align: top;" placeholder="Search for...">

                </form>
</div>
<h3 style="margin-left:50px">Categories</h3><br>
  <div class="row">



            {% for cat in allCategories%}
            <div class></div>
			<a style="margin-left:30px" class="col-6" href = "/blogersite/cat/{{cat.id}}">{{cat.cat_name}}</a>
			{%if user.is_authenticated %}
			<a class="col-4"  href = "#{{cat.id}}"><button class="subs" uid= "{{request.user.id}}" cid="{{cat.id}}">Subscribe</button></a><br>
<br>
			{%else%}

			    <br><br>

            {%endif%}
        {% endfor %}
        </div>
</div>

	<br>

	<br>

<div class="col-5 w3-container w3-card w3-red w3-round w3-margin">
    {%  for posts in allPosts  %}
           <div class="col-2"style="color:#0000FF"></div>
        <div class="col-8">
         <span> {{ posts.post_cat }}</span>
          <span class="w3-right w3-opacity">{{ posts.post_date }}</span>

        <h3><a href = "#">{{posts.post_title}}</a></h3>
        <hr class="w3-clear">
         <h5>Tag:{% for i in posts.post_tags.all %}{{ i.tag_name }}  {% endfor %} </h5>
        <hr class="w3-clear">

             <p> {{ posts.post_content }}</p>



   <a href="#"><img style="" class="w3-margin-bottom" height="150px" width="150px" src="{% static ""%}images/{{ posts.post_image }}">
</a>

        </div><br>



		{%  endfor  %}
     <div class="col-2"></div>
</div>




    </div>

{% endblock %}




</div>

</body>
</html>


