{% extends "adminPanel/Dashboard.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
	<title> Add New User</title>
</head>
<body>
    {% block main_block %}

<div class="container">
<form method="POST" class=""> {% csrf_token%}

    {{form.as_p}}
   <a href="/blogersite/allusers"><button type="submit" class="btn btn-primary"> Submit</button></a>
    <button type="reset" class="btn btn-warning">Reset</button>

</form>
<!--<a href="/blogersite/allusers"><button>Home</button></a>-->
</div>

<script src="{% static 'bootstrap/jquery.min.js'%}"></script>
<script src="{% static 'bootstrap/bootstrap.bundle.min.js'%}"></script>
<!--<a href="/blogersite/allusers"><button class="btn btn-success" >Home</button></a>-->


{% endblock %}
</body>
</html>