{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
	<title> Add New User</title>
</head>
<body>
<div class="container">
<form method="POST" class=""> {% csrf_token%}

    {{form.as_p}}
   <a href="blogersite/allusers"><button type="submit"> Submit</button></a> 
    <button type="reset">Reset</button>

</form>
<a href="/blogersite/allusers"><button>Home</button></a>
</div>

<script src="{% static 'bootstrap/jquery.min.js'%}"></script>
<script src="{% static 'bootstrap/bootstrap.bundle.min.js'%}"></script>
</body>
</html>