{% extends "adminPanel/Dashboard.html" %}
{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
</head>
<body>
{% block main_block %}

<div class="container">

    <h1>{{ allPosts.post_title }}</h1>
    <b>Content: </b> {{ allPosts.post_content }}<br>
    <b>Date: </b> {{ allPosts.post_date }}<br>


    <b>Category: </b> {{ allPosts.post_cat }}<br>
    <b>Tags: </b>{% for i in allPosts.post_tags.all  %} {{ i.tag_name    }}{% endfor %}<br>


    <img src="{% static ""%}images/{{ allPosts.post_image }}" alt="">


</div>


<script href="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
<script href="{% static 'bootstrap/jquery.min.js' %}"></script>

<br />
<a href = '/blogersite/allPosts/'><< Back to home </a>
</body>
</html>
    {% endblock %}
