{% load static %}
<script src= "{% static 'assets/js/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
  {% block title %}
   <title> {{allPosts.post_title}} </title>
  {% endblock %}

    <h1 style="margin-bottom: 30px;">{{ allPosts.post_title }}</h1>
    <b>Date: </b> {{ allPosts.post_date }}<br>


    <b>Category: </b> {{ allPosts.post_cat }}<br>
    <b>Tags: </b>{% for i in allPosts.post_tags.all  %} {{ i.tag_name }} {% endfor %}
    <br>
    <img src="{% static ""%}images/{{ allPosts.post_image }}" alt="">
    <article style="margin-top:30px;">{{ allPosts.post_content }}</article>


</div>

 <a class="btn btn-primary" onclick="location.href='/blogersite/post/{{postshow.id}}/comment' "> Add comment </a>

</div>




{% for comment in Comment %}

<hr>

<div class="row">
<div class="col-md-12">

    <p>COMMENT  |  {{ comment.comment_date }}  |  <strong>{{ comment.comment_user_id }}</strong></p>
<div class="border-comment">
    <p>{{ comment.comment_body|linebreaks }}</p>
</div>

<div class="row">
<div class="col-md-9 col-md-offset-3"></div>
{% for reply in Reply %}
   
    <p>REPLY  |  {{ reply.reply_date }}  |  <strong>{{ reply.reply_user_id }}</strong> </p>
    <div class="border-reply">
    <p>{{ reply.reply_body }}</p>
  </div>
{% empty %}
</div>

{% endfor %}

</div>


{% endfor %}


{% block main_block %}

{% endblock %}
