<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">
     <!--import scripts-->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
 <title>Home</title>
  </head>
  <body>
 <!-- title-->
 
  
 
  <div class="container-fluid text-center">
     
    <div class="jumbotron bg-success" >
    
    <h1 class="text-white ">YourBlogz</h1>      
   
    </div>
   </div>

   <!--category-->
    <div>
    <span class="col-1"></span>
    <h4 class="col-2">category name</h4>

    </div>
    <!--Title-->
     <div>
    <span class="col-1"></span>
    <h2 class="col-2">PostTitle</h2>

    </div>

   <!--image-->
   <div>
     
      <span class="col-2"></span>
     <img src="horse2.jpg" alt="PostImg " class="col-8"/> 

     <span class="col-2"></span>
     <br/><br/><br/>

   </div>
    
   <!--PostText-->
   <div>
    <span class="col-2"></span>
    <p class="col-8">According to Latin professor Richard McClintock — the man credited with discovering Lorem Ipsum's roots — it is likely that sometime during the middle ages a typesetter scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book. But that was just the beginning. </p>
    <br/><br/>
   </div>

   <!--Like and Dislike-->
    <div>
    <span class="col-2"></span>
    <button type="button" class="col-2 btn btn-primary">Like</button>
    <button type="button" class="col-2 btn btn-danger">Dislike</button>
    <br/><br/><br/>

    </div>


   <!--add Comment-->
   <form method="Post">
  {{ form.as_p }}
  <input type="text" name="comment"/>
  <button type ="submit">Comment</button>

  </form>

  <!-- Comments-->

  


  


  
  	
  </body>

  </html>
